.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
.img-profile {
  width: 200px;
}
#projects {
  background-color: #e2edff;
}
#about {
  padding-top: 20rem;
}
section {
  padding-top: 5rem;
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.container {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
}
